@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1A1A2E;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", system-ui, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
